<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>PickMyReel</display-name>
  <welcome-file-list>
    <welcome-file>WelcomePage.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>LoginController</display-name>
    <servlet-name>LoginController</servlet-name>
    <servlet-class>com.pickmyreel.controller.LoginController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginController</servlet-name>
    <url-pattern>/LoginController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SignUpController</display-name>
    <servlet-name>SignUpController</servlet-name>
    <servlet-class>com.pickmyreel.controller.SignUpController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SignUpController</servlet-name>
    <url-pattern>/SignUpController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ReserveController</display-name>
    <servlet-name>ReserveController</servlet-name>
    <servlet-class>com.pickmyreel.controller.ReserveController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ReserveController</servlet-name>
    <url-pattern>/ReserveController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Reserveview</display-name>
    <servlet-name>Reserveview</servlet-name>
    <servlet-class>com.pickmyreel.view.Reserveview</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Reserveview</servlet-name>
    <url-pattern>/Reserveview</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SeatController</display-name>
    <servlet-name>SeatController</servlet-name>
    <servlet-class>com.pickmyreel.controller.SeatController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SeatController</servlet-name>
    <url-pattern>/SeatController</url-pattern>
  </servlet-mapping>
  <error-page>
    <error-code>404</error-code>
    <location>/error-404.jsp</location>
  </error-page>
  <error-page>
    <error-code>500</error-code>
    <location>/error-500.jsp</location>
  </error-page>
  <servlet>
    <description></description>
    <display-name>LogoutController</display-name>
    <servlet-name>LogoutController</servlet-name>
    <servlet-class>com.pickmyreel.controller.LogoutController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LogoutController</servlet-name>
    <url-pattern>/LogoutController</url-pattern>
  </servlet-mapping>
  <filter>
    <display-name>UserLoginCheckFilter</display-name>
    <filter-name>UserLoginCheckFilter</filter-name>
    <filter-class>com.pickmyreel.filter.UserLoginCheckFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>UserLoginCheckFilter</filter-name>
    <url-pattern>/BookingSlot.jsp</url-pattern>
    <url-pattern>/TheaterNames.jsp</url-pattern>
    <url-pattern>/Ticket.jsp</url-pattern>
    <url-pattern>/History.jsp</url-pattern>
    <url-pattern>/seatchart.jsp</url-pattern>
    <url-pattern>/DateIncreasing.jsp</url-pattern>
    <url-pattern>/DateDecreasing.jsp</url-pattern>
    <url-pattern>/TimeIncreasing.jsp</url-pattern>
    <url-pattern>/TimeDecreasing.jsp</url-pattern>
  </filter-mapping>
  <filter>
    <display-name>LoggingFilter</display-name>
    <filter-name>LoggingFilter</filter-name>
    <filter-class>com.pickmyreel.filter.LoggingFilter</filter-class>
  </filter>
  <servlet>
    <description></description>
    <display-name>HistoryController</display-name>
    <servlet-name>HistoryController</servlet-name>
    <servlet-class>com.pickmyreel.controller.HistoryController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HistoryController</servlet-name>
    <url-pattern>/HistoryController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Log4j</display-name>
    <servlet-name>Log4j</servlet-name>
    <servlet-class>com.pickmyreel.controller.Log4j</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Log4j</servlet-name>
    <url-pattern>/Log4j</url-pattern>
  </servlet-mapping>
</web-app>